--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2
-- Dumped by pg_dump version 16.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: UserEminds_gender_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserEminds_gender_enum" AS ENUM (
    'Laki-Laki',
    'Perempuan'
);


ALTER TYPE public."UserEminds_gender_enum" OWNER TO postgres;

--
-- Name: level_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.level_enum AS ENUM (
    'very high',
    'high',
    'intermediate',
    'low',
    'very low',
    'normal'
);


ALTER TYPE public.level_enum OWNER TO postgres;

--
-- Name: userEminds_gender_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."userEminds_gender_enum" AS ENUM (
    'Laki-Laki',
    'Perempuan'
);


ALTER TYPE public."userEminds_gender_enum" OWNER TO postgres;

--
-- Name: userEminds_psikologstatus_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."userEminds_psikologstatus_enum" AS ENUM (
    'pending',
    'rejected',
    'approved'
);


ALTER TYPE public."userEminds_psikologstatus_enum" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: answers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.answers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    answer text NOT NULL,
    score integer NOT NULL,
    "questionIdId" uuid
);


ALTER TABLE public.answers OWNER TO postgres;

--
-- Name: auths; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auths (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "isVerification" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "verificationAt" timestamp without time zone,
    token uuid NOT NULL
);


ALTER TABLE public.auths OWNER TO postgres;

--
-- Name: client_psychologist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.client_psychologist (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "assignedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updateAt" timestamp without time zone DEFAULT now() NOT NULL,
    "psychologistId" uuid,
    "clientId" uuid
);


ALTER TABLE public.client_psychologist OWNER TO postgres;

--
-- Name: facultys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.facultys (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.facultys OWNER TO postgres;

--
-- Name: kuisioners; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kuisioners (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(255) NOT NULL,
    "isActive" boolean NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.kuisioners OWNER TO postgres;

--
-- Name: majors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.majors (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    "facultyId" uuid NOT NULL
);


ALTER TABLE public.majors OWNER TO postgres;

--
-- Name: pre_kuisioner_answer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pre_kuisioner_answer (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    answer character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updateAt" timestamp without time zone DEFAULT now() NOT NULL,
    "preQuestionIdId" uuid
);


ALTER TABLE public.pre_kuisioner_answer OWNER TO postgres;

--
-- Name: pre_kuisioner_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pre_kuisioner_category (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.pre_kuisioner_category OWNER TO postgres;

--
-- Name: pre_kuisioner_question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pre_kuisioner_question (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    question character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updateAt" timestamp without time zone DEFAULT now() NOT NULL,
    "categoryId" uuid
);


ALTER TABLE public.pre_kuisioner_question OWNER TO postgres;

--
-- Name: pre_kuisioner_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pre_kuisioner_user (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "isFinish" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.pre_kuisioner_user OWNER TO postgres;

--
-- Name: pre_kuisioner_user_answer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pre_kuisioner_user_answer (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "preKuisionerUserId" uuid,
    "preKuisionerAnswerId" uuid
);


ALTER TABLE public.pre_kuisioner_user_answer OWNER TO postgres;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    question text NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "subKuisionerIdId" uuid
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: subkuisioners; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subkuisioners (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(255) NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "symtompIdId" uuid,
    "kuisionerIdId" uuid
);


ALTER TABLE public.subkuisioners OWNER TO postgres;

--
-- Name: summary_kuisioner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.summary_kuisioner (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    sumarize text NOT NULL,
    "kuisionerFinished" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    user_id uuid
);


ALTER TABLE public.summary_kuisioner OWNER TO postgres;

--
-- Name: symtomps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.symtomps (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.symtomps OWNER TO postgres;

--
-- Name: take_kuisioner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.take_kuisioner (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "isFinish" boolean DEFAULT false NOT NULL,
    report text,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "kuisionerId" uuid,
    "userId" uuid
);


ALTER TABLE public.take_kuisioner OWNER TO postgres;

--
-- Name: userEminds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."userEminds" (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying NOT NULL,
    username character varying NOT NULL,
    password character varying NOT NULL,
    "birthDate" date,
    "yearEntry" integer,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    gender public."userEminds_gender_enum",
    "roleId" uuid,
    "facultyId" uuid,
    nim character varying,
    "psikologStatus" public."userEminds_psikologstatus_enum",
    "authId" uuid,
    "preKuisionerId" uuid,
    "majorId" uuid
);


ALTER TABLE public."userEminds" OWNER TO postgres;

--
-- Name: user_answer_kuisioner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_answer_kuisioner (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "userAnswerSubKuisionerId" uuid,
    "answerId" uuid
);


ALTER TABLE public.user_answer_kuisioner OWNER TO postgres;

--
-- Name: user_answer_sub_kuisioner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_answer_sub_kuisioner (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    level public.level_enum,
    score integer,
    "subKuisionerId" uuid,
    "takeKuisionerId" uuid
);


ALTER TABLE public.user_answer_sub_kuisioner OWNER TO postgres;

--
-- Data for Name: answers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auths; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: client_psychologist; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: facultys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.facultys (id, name) FROM stdin;
99f6b5b2-b0e5-4bc2-8c4e-bc7f5f6a8842	Fakultas Kedokteran (FK)
eb935226-da6b-45fa-8937-70f51454bde8	Fakultas Teknologi Industri (FTI)
f7c489af-c822-4717-8d7c-31d1096f1b55	Fakultas Hukum (FH)
fa5c9b65-855d-4453-a4eb-e6ed2673ece6	Fakultas Ilmu Agama Islam (FIAI)
bb845b33-71f1-4ab1-9a3c-2c06cd7a76f6	Fakultas Psikologi dan Ilmu Sosial Budaya (FPSB)
f311f5a6-208b-4925-951c-d88798478023	Fakultas Teknik Sipil dan Perencanaan (FTSP)
\.


--
-- Data for Name: kuisioners; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.kuisioners (id, title, "isActive", "createdAt", "updatedAt") FROM stdin;
3c94344f-7476-44e0-8a31-303c3f6b3bc3	TesKuisioner1	t	2024-10-04 17:32:42.557101	2024-10-04 17:32:42.557101
1667321d-25f3-43ba-b90c-cca473d127d0	Kuisioner Screening 1	t	2024-10-04 17:43:23.202213	2024-10-04 17:43:23.202213
\.


--
-- Data for Name: majors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.majors (id, name, "facultyId") FROM stdin;
3f403aec-2145-4039-bfa1-e1add60a7c1d	Informatika	eb935226-da6b-45fa-8937-70f51454bde8
7188fecb-654a-40d4-a058-ed2acf620422	Teknik Industri	eb935226-da6b-45fa-8937-70f51454bde8
d64d80a6-d457-406d-a208-737f34a8ef93	Psikologi	bb845b33-71f1-4ab1-9a3c-2c06cd7a76f6
\.


--
-- Data for Name: pre_kuisioner_answer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pre_kuisioner_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pre_kuisioner_category (id, name) FROM stdin;
88237acd-387e-4af0-bd13-561dec9ff639	Persepsi terhadap keluarga
9922444b-73da-4bf0-8b30-a5acdfeb1cc4	Persepsi terhadap kondisi finansial
3d037ee2-d746-4f6c-859f-7a26e0791d1b	Persepsi terhadap kondisi kesehatan
0c076252-4743-4523-868e-72a607dc9a45	Persepsi terhadap relasi orang di sekitar
\.


--
-- Data for Name: pre_kuisioner_question; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pre_kuisioner_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pre_kuisioner_user_answer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, name) FROM stdin;
38d3223a-1260-42bf-a317-67bed6eba681	SUPERADMIN
ef95c08f-856e-49cc-a75a-0ac928b4abcd	ADMIN
76e175bf-25d3-4ab6-83fd-5b6e60e39352	USER
\.


--
-- Data for Name: subkuisioners; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: summary_kuisioner; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: symtomps; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.symtomps (id, name) FROM stdin;
52801a1d-32e6-49d8-bed4-162374630e46	Depresi
d1401692-5909-41fb-9c4c-b5d2a601c292	Stress
ff065e0a-eddf-4416-b82a-f4666b2e0a1c	Prokrastinasi
b549f59f-5f6c-4854-ae82-cef186c15b4f	Kecemasan
c4deb597-856f-4a9d-b23d-3d88658341d1	Kecanduan Ponsel
\.


--
-- Data for Name: take_kuisioner; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: userEminds; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_answer_kuisioner; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_answer_sub_kuisioner; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: symtomps PK_02f54354c0100899af30805c5ef; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.symtomps
    ADD CONSTRAINT "PK_02f54354c0100899af30805c5ef" PRIMARY KEY (id);


--
-- Name: summary_kuisioner PK_03738a1c2b13e97c583c64d7df0; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.summary_kuisioner
    ADD CONSTRAINT "PK_03738a1c2b13e97c583c64d7df0" PRIMARY KEY (id);


--
-- Name: pre_kuisioner_user PK_076c4da1ebdea27a9582997716e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pre_kuisioner_user
    ADD CONSTRAINT "PK_076c4da1ebdea27a9582997716e" PRIMARY KEY (id);


--
-- Name: kuisioners PK_07e8cd547be28bed054a68ef3e2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kuisioners
    ADD CONSTRAINT "PK_07e8cd547be28bed054a68ef3e2" PRIMARY KEY (id);


--
-- Name: questions PK_08a6d4b0f49ff300bf3a0ca60ac; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT "PK_08a6d4b0f49ff300bf3a0ca60ac" PRIMARY KEY (id);


--
-- Name: pre_kuisioner_category PK_0c0ed92e00aa22b02b4d2b9a9c6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pre_kuisioner_category
    ADD CONSTRAINT "PK_0c0ed92e00aa22b02b4d2b9a9c6" PRIMARY KEY (id);


--
-- Name: auths PK_22fc0631a651972ddc9c5a31090; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auths
    ADD CONSTRAINT "PK_22fc0631a651972ddc9c5a31090" PRIMARY KEY (id);


--
-- Name: pre_kuisioner_question PK_28ba8563f2050aebbd73622adee; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pre_kuisioner_question
    ADD CONSTRAINT "PK_28ba8563f2050aebbd73622adee" PRIMARY KEY (id);


--
-- Name: pre_kuisioner_answer PK_3018352c833572e30e464f91ddf; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pre_kuisioner_answer
    ADD CONSTRAINT "PK_3018352c833572e30e464f91ddf" PRIMARY KEY (id);


--
-- Name: facultys PK_75ecb189fb8887010b2960a3a97; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.facultys
    ADD CONSTRAINT "PK_75ecb189fb8887010b2960a3a97" PRIMARY KEY (id);


--
-- Name: user_answer_sub_kuisioner PK_929c0e3dea60ad9cb2447a50a43; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_answer_sub_kuisioner
    ADD CONSTRAINT "PK_929c0e3dea60ad9cb2447a50a43" PRIMARY KEY (id);


--
-- Name: answers PK_9c32cec6c71e06da0254f2226c6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT "PK_9c32cec6c71e06da0254f2226c6" PRIMARY KEY (id);


--
-- Name: majors PK_9d82cf80fe0593040e50ccb297e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.majors
    ADD CONSTRAINT "PK_9d82cf80fe0593040e50ccb297e" PRIMARY KEY (id);


--
-- Name: roles PK_c1433d71a4838793a49dcad46ab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "PK_c1433d71a4838793a49dcad46ab" PRIMARY KEY (id);


--
-- Name: subkuisioners PK_c352dc59b1b8ad6e500556d129f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subkuisioners
    ADD CONSTRAINT "PK_c352dc59b1b8ad6e500556d129f" PRIMARY KEY (id);


--
-- Name: userEminds PK_c8928602a623203a2c520205a53; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."userEminds"
    ADD CONSTRAINT "PK_c8928602a623203a2c520205a53" PRIMARY KEY (id);


--
-- Name: pre_kuisioner_user_answer PK_ccd6e9e5091c51474d6fffe6dce; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pre_kuisioner_user_answer
    ADD CONSTRAINT "PK_ccd6e9e5091c51474d6fffe6dce" PRIMARY KEY (id);


--
-- Name: take_kuisioner PK_d92801777a2486a696c8b1804d0; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.take_kuisioner
    ADD CONSTRAINT "PK_d92801777a2486a696c8b1804d0" PRIMARY KEY (id);


--
-- Name: client_psychologist PK_ddece54fb9627e193ee56b79c35; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client_psychologist
    ADD CONSTRAINT "PK_ddece54fb9627e193ee56b79c35" PRIMARY KEY (id);


--
-- Name: user_answer_kuisioner PK_fd274816a44501d61c5cad0f9fb; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_answer_kuisioner
    ADD CONSTRAINT "PK_fd274816a44501d61c5cad0f9fb" PRIMARY KEY (id);


--
-- Name: summary_kuisioner REL_64fff63371143b3c27eeaf5750; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.summary_kuisioner
    ADD CONSTRAINT "REL_64fff63371143b3c27eeaf5750" UNIQUE (user_id);


--
-- Name: userEminds UQ_6fc1fea0a11de42f33ef56a7951; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."userEminds"
    ADD CONSTRAINT "UQ_6fc1fea0a11de42f33ef56a7951" UNIQUE ("preKuisionerId");


--
-- Name: userEminds UQ_b080c584cc25d4737b83c757ed6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."userEminds"
    ADD CONSTRAINT "UQ_b080c584cc25d4737b83c757ed6" UNIQUE (email);


--
-- Name: userEminds UQ_e3f4787a3f478612de4c837e30f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."userEminds"
    ADD CONSTRAINT "UQ_e3f4787a3f478612de4c837e30f" UNIQUE ("authId");


--
-- Name: take_kuisioner FK_00e0d80df70ca366da4a08175b9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.take_kuisioner
    ADD CONSTRAINT "FK_00e0d80df70ca366da4a08175b9" FOREIGN KEY ("userId") REFERENCES public."userEminds"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: userEminds FK_035a6395e744951039fbce57410; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."userEminds"
    ADD CONSTRAINT "FK_035a6395e744951039fbce57410" FOREIGN KEY ("majorId") REFERENCES public.majors(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_answer_sub_kuisioner FK_3b607654b4595356b72dc902d9f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_answer_sub_kuisioner
    ADD CONSTRAINT "FK_3b607654b4595356b72dc902d9f" FOREIGN KEY ("subKuisionerId") REFERENCES public.subkuisioners(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: majors FK_44a7497ed50d3ca85136225bfaa; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.majors
    ADD CONSTRAINT "FK_44a7497ed50d3ca85136225bfaa" FOREIGN KEY ("facultyId") REFERENCES public.facultys(id);


--
-- Name: subkuisioners FK_49c09c38164659b7ae5d4af05c4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subkuisioners
    ADD CONSTRAINT "FK_49c09c38164659b7ae5d4af05c4" FOREIGN KEY ("kuisionerIdId") REFERENCES public.kuisioners(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_answer_kuisioner FK_5894f873f903c6def4ef5b2f607; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_answer_kuisioner
    ADD CONSTRAINT "FK_5894f873f903c6def4ef5b2f607" FOREIGN KEY ("userAnswerSubKuisionerId") REFERENCES public.user_answer_sub_kuisioner(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_answer_kuisioner FK_5a6a01c05c227e9c8029b12559e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_answer_kuisioner
    ADD CONSTRAINT "FK_5a6a01c05c227e9c8029b12559e" FOREIGN KEY ("answerId") REFERENCES public.answers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: summary_kuisioner FK_64fff63371143b3c27eeaf57501; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.summary_kuisioner
    ADD CONSTRAINT "FK_64fff63371143b3c27eeaf57501" FOREIGN KEY (user_id) REFERENCES public."userEminds"(id) ON DELETE CASCADE;


--
-- Name: userEminds FK_6ab3f530a22712eeae7c9e19204; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."userEminds"
    ADD CONSTRAINT "FK_6ab3f530a22712eeae7c9e19204" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: userEminds FK_6fc1fea0a11de42f33ef56a7951; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."userEminds"
    ADD CONSTRAINT "FK_6fc1fea0a11de42f33ef56a7951" FOREIGN KEY ("preKuisionerId") REFERENCES public.pre_kuisioner_user(id);


--
-- Name: client_psychologist FK_82329cbfd68381fb871564838a4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client_psychologist
    ADD CONSTRAINT "FK_82329cbfd68381fb871564838a4" FOREIGN KEY ("psychologistId") REFERENCES public."userEminds"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pre_kuisioner_answer FK_853913b825b8cd00d70136455c0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pre_kuisioner_answer
    ADD CONSTRAINT "FK_853913b825b8cd00d70136455c0" FOREIGN KEY ("preQuestionIdId") REFERENCES public.pre_kuisioner_question(id);


--
-- Name: pre_kuisioner_user_answer FK_8e192eebe01d40c1e5ba91b7953; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pre_kuisioner_user_answer
    ADD CONSTRAINT "FK_8e192eebe01d40c1e5ba91b7953" FOREIGN KEY ("preKuisionerAnswerId") REFERENCES public.pre_kuisioner_answer(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pre_kuisioner_user_answer FK_900aa9e05bc68c403afb524a222; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pre_kuisioner_user_answer
    ADD CONSTRAINT "FK_900aa9e05bc68c403afb524a222" FOREIGN KEY ("preKuisionerUserId") REFERENCES public.pre_kuisioner_user(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: userEminds FK_a1ba0fa8b12848cfb633d92ee2f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."userEminds"
    ADD CONSTRAINT "FK_a1ba0fa8b12848cfb633d92ee2f" FOREIGN KEY ("facultyId") REFERENCES public.facultys(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: take_kuisioner FK_b8ed1473cf1f020847e436085d1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.take_kuisioner
    ADD CONSTRAINT "FK_b8ed1473cf1f020847e436085d1" FOREIGN KEY ("kuisionerId") REFERENCES public.kuisioners(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_answer_sub_kuisioner FK_b90abce5938c3b98582d3fec3c6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_answer_sub_kuisioner
    ADD CONSTRAINT "FK_b90abce5938c3b98582d3fec3c6" FOREIGN KEY ("takeKuisionerId") REFERENCES public.take_kuisioner(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pre_kuisioner_question FK_bd474c077fa02056aff7f1718e4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pre_kuisioner_question
    ADD CONSTRAINT "FK_bd474c077fa02056aff7f1718e4" FOREIGN KEY ("categoryId") REFERENCES public.pre_kuisioner_category(id);


--
-- Name: subkuisioners FK_d619f83180792754d1aa5c3b423; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subkuisioners
    ADD CONSTRAINT "FK_d619f83180792754d1aa5c3b423" FOREIGN KEY ("symtompIdId") REFERENCES public.symtomps(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: questions FK_dec9b356a856a1d62882b2a93c4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT "FK_dec9b356a856a1d62882b2a93c4" FOREIGN KEY ("subKuisionerIdId") REFERENCES public.subkuisioners(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: userEminds FK_e3f4787a3f478612de4c837e30f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."userEminds"
    ADD CONSTRAINT "FK_e3f4787a3f478612de4c837e30f" FOREIGN KEY ("authId") REFERENCES public.auths(id);


--
-- Name: answers FK_e6803a520e3f9f6ce24819745e5; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT "FK_e6803a520e3f9f6ce24819745e5" FOREIGN KEY ("questionIdId") REFERENCES public.questions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: client_psychologist FK_fb6d400c5a5c092b3ef66a9ec3b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.client_psychologist
    ADD CONSTRAINT "FK_fb6d400c5a5c092b3ef66a9ec3b" FOREIGN KEY ("clientId") REFERENCES public."userEminds"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

